<div class="container">
  <div class ="row card-group">
    <div class="col-sm-12 col-md-12">
      <div class="card w-50 mt-5 mx-auto"  *ngFor="let banda of bandas">
        <img src="{{banda.foto}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{banda.nombre}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Origen: {{banda.origen}}</li>
          
            <!--<iframe width="560" height="315" [src]="banda.video | youtube:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay"></iframe>!-->
     
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Más información</a>
          <a href="#" class="card-link">Eliminar banda</a>
        </div>
      </div>

    </div>
  </div>
</div>
