<h1 class="text-center text-uppercase mb-3 col-sm-12 col-xs-12" style="background-color: black; color: white; margin: 0;">Bienvenido/a a Angular Rocks!</h1>
<div class="text-center col-sm-12">
    <img src="https://image.freepik.com/vector-gratis/ilustracion-icono-vector-guitarra-electrica_138676-378.jpg" alt="imagenprincipal" style="width: 60%; height: 66%;">
</div>
<div class="text-center col-sm-12">
    <h4>¿Qué se puede hacer?</h4>
  
    
</div>
<div class="ml-3 mx-auto col-sm-12 mt-5">
    <ol style="font-size: 22px;">
        <li>Crear bandas</li>
        <li>Ver bandas</li>
        <li>Eliminar bandas</li>
        <li>Busqueda de bandas</li>
    </ol>
</div>
