
  <h1 class="text-center text-uppercase" style="background-color: black; color: white; margin: 0;">{{banda.nombre}}</h1>
  <div class="mx-3 mt-5">
    <h2>Historia</h2>
    <p>{{banda.historia}}</p>
    <h2>Miembros</h2>
    <p>{{banda.miembros}}</p>
    <h2>Actividad</h2>
    <p>{{banda.actividad}}</p>
    <h2>Video</h2>
  <iframe class="col-md-7 col-lg-7 mt-2" width="560" height="315" [src]="banda.video | youtube:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay"></iframe>
  </div>


<div class="col-md-4 text-center mx-auto m-5">
  <button class="btn btn-outline-secondary mx-5 my-2 my-sm-5" (click)="goPrevious()"type="submit" *ngIf="banda.id!=0">Banda anterior</button>
  <button class="btn btn-outline-info mx-5 my-2 my-sm-5" (click)="goNext()" type="submit" *ngIf="lastId.id!=banda.id" >Siguiente banda</button>
</div>



